input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:host ::ng-deep .mat-input-element{
    color:blackx !important;
}
::ng-deep .red-snackbar{
    height:50px;
    color:white;
    background-color:crimson;
    border:2px solid black;
}
::ng-deep .green-snackbar{
    height:50px;
    color:white;
    background-color:green;
    border:2px solid black;
}
::ng-deep .mat-simple-snackbar-action {
    color: white;
  }
#loginContainer{
    width:800px;
    margin:20px auto;
    border: 1px solid gray;
}
.login-flex-container{
    display:flex;
    justify-content:space-between;
    padding: 50px 20px;
}
.login-column h1{
    font-weight:bold;
    font-size:30px;
    margin-right:30px;
}
.login-column{
    margin-right:30px;
}

.form-field{
    margin-top:20px;
}
.visibility-icon{
    position:absolute;
    margin-left:-35px;
    margin-top: 15px;
}
.label-field{
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 400;
    display:block;
    margin-bottom: 15px;
}
.email-input-field,
.password-input-field{
    border-radius: 7px;
    padding-left: 7px;
    height: 55px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid gray;
    color: rgb(0,0,0);
    width: 300px;
}
.buttons-field{
    display:flex;
    margin-top:30px;
}
#login-btn{
    background-color: #3F4D98;
    color: white;
    width:140px;
    height:50px;
    border-radius:7px;
    font-size:17px;
}
#cancel-btn{
    color:crimson;
    border-color: crimson;
    width:140px;
    height:50px;
    border-radius:7px;
    font-size:17px;
    margin-right: 20px;
}
.check-icon{
    position:absolute;
    margin-left:-35px;
    margin-top: 15px;
    color:green;
}
.wrong-icon{
    position:absolute;
    margin-left:-35px;
    margin-top: 15px;
    color:crimson;
}
.invalid-email-message,
.invalid-password-message{
    color:crimson;
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    margin-top:5px;
}
.already-have-account{
    margin:10px 0;
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}
.already-have-account a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}