<div id="loginContainer">
    <mat-card>
        <div class="login-flex-container">
            <div class="login-column">
                <h1>Login!</h1>
                <div class="form-field">
                    <label class="label-field">Email<span style="color:crimson;">*</span></label>
                    <input type="number" class="email-input-field" id="username" [(ngModel)]="this.email"
                        (ngModelChange)="onValueChanged()" />
                    <mat-icon matTooltip="Valid Email" class="check-icon">check
                    </mat-icon>
                    <mat-icon matTooltip="Invalid Email" class="wrong-icon">cancel
                    </mat-icon>
                </div>
                <div class="form-field">
                    <label class="label-field">Password<span style="color:crimson;">*</span></label>
                    <input [type]="hide ? 'password' : 'text'" class="password-input-field" [(ngModel)]="this.password"
                        (ngModelChange)="onPasswordValidation()">
                    <mat-icon matSuffix class="visibility-icon"
                        matTooltip="Invalid Password (It must contain a special character, 1 number, 1 uppercase and 1 lowercase character)"
                        (click)="hide = !hide" >{{hide ?'visibility_off' :'visibility'}}</mat-icon>
                </div>
                <h4 class="already-have-account">Don't have an account? <a class="no-already-acccount"
                        [routerLink]="['/register']">Register Now!</a></h4>
                <div class="buttons-field">
                    <button mat-stroked-button color="primary" id="cancel-btn" (click)="cancelLogin()">Cancel</button>
                    <button mat-raised-button color="primary" id="login-btn" (click)="login()">Login</button>

                </div>
            </div>
            <div>
                <img style="height:335px; margin-left:20px;" alt="Login GIF" src="../../assets/loginGif.gif" />
            </div>
        </div>
    </mat-card>
</div>